html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(4, 18, 17);
    color:white;

    }
a{
    color: rgb(201, 65, 219);
}
section{
    height: 100vh;
}
.blue{
    background-color: rgb(210, 203, 70);
}
.red{
    background-color: rgb(29, 82, 66);
}